{% extends 'base_auth.html' %}

{% block title %}Login / Tierra Media{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-5 shadow-lg bg-dark bg-gradient text-light" style="max-width: 500px; width: 100%; border-radius: 12px;">
        <h2 class="text-center fs-1 mb-3">Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_username" class="form-label fs-3 text-center">Usuario:</label>
               <span class="form-control-md w-100" style="margin-left: 15%;">{{ form.username }}</span>
            </div>
            <div class="mb-4">
                <label for="id_password" class="form-label pr-3 fs-3 ">Contraseña:</label>
               <span class="form-control-md w-100" style="margin-left: 4%">{{ form.password }}</span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}