{% extends "base.html" %}

{% block title %}Lista de facciones{% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center">
    <div class="container-sm">
        <form method="post" class="mb-3">
            {% csrf_token %}
            <div class="mb-2">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Filtrar</button>
        </form>

        <h2 class="h4 text-light">Personajes</h2>
        <ul class="list-group">
            {% for character in characters %}
                <li class="d-flex align-items-center mb-3 p-2 border rounded-3" style="background-color: rgba(255, 255, 255, 0.2);">
                    <div class="d-flex w-100 align-items-center">
                        <i class="bi bi-person-circle me-2" style="font-size: 1.5rem;"></i>
                        <span class="fw-bold">{{ character.name }}</span>
                        <span class="ms-auto text-end">{{ character.faction.name }}</span>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item py-2 text-center text-muted">No hay personajes para esta facción.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'juego:factionView' %}" class="btn btn-sm btn-secondary mt-3">Volver</a>
    </div>
</div>



{% endblock %}