{% extends "base.html" %}
{% block title %}Eliminar facción{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="text-center">
        <h1 class="text-light mb-4">Confirmar Eliminación</h1>
        <form method="post" class="p-4 border rounded-3 shadow-lg" style="background-color: rgba(0, 0, 0, 0.8); color: white; width: 400px;">
            {% csrf_token %}
            <p class="text-light mb-4">¿Estás seguro de que quieres eliminar "{{ object }}"?</p>
            {{ form.as_p }}
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-danger w-100">Confirmar</button>
            </div>
        </form>
        <a href="{% url 'juego:factionView' %}" class="btn btn-sm btn-secondary mt-3">Volver</a>

    </div>
</div>

{% endblock %}