<footer class="py-3 mt-4 text-white" style="background-color: rgba(0,0,0,0.81)">
    <div class="container content">
        <ul class="list-unstyled text-center justify-content-center border-bottom pb-3 mb-3">
            <li>
                <p class="display-6">Realizado por:</p>
            </li>
            <li>
                <p>Aarón Gutiérrez Caña</p>
            </li>
            <li>
                <p>Alberto Ruiz Díaz</p>
            </li>
            <li>
                <p>Alejandro Jiménez Pérez</p>
            </li>
            <li>
                <p>Jesús Carmelo Pérez Robles</p>
            </li>
        </ul>
        <p class="text-center text-white">© 2025 Tierra Media, Inc</p>
    </div>
</footer>
